$work-sans:'Work Sans',sans-serif;
$robote:'Roboto','sans-serif';
$poppins:'Poppins',sans-serif;
$color-green:#00917c;
$bg-red:#d61c22;   
$bg-dark:black;
$bg-gray:#3D3D3D;
$dark-gray:#333333;
$primary-gray:#666666;
$color-white:white;
$font-h1:60px;
$font-p:90px;
