html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.4s ease-in-out;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
header .hotel {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
header nav ul {
  display: flex;
  gap: 10px;
  text-align: center;
}
header nav ul li a {
  text-decoration: none;
  font-size: 14px;
  padding: 10px 10px;
  font-family: "Roboto", "sans-serif";
  color: white;
  transition: color 0.4 ease-in-out;
}
header nav ul li a:hover {
  color: rgb(189, 188, 184);
}
header .menu-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu-top-right a {
  text-decoration: none;
  color: white;
}
header .menu-top-right a .fa-phone {
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  flex: 0 0 40px;
  margin-right: 10px;
  margin-top: 15px;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 50%;
}
header .menu-top-right a .fa-bars {
  display: none;
}
header .menu-top-right .fa-phone:hover {
  border: 2px solid white;
}
header.scrolled {
  background-color: rgb(234, 234, 234);
}
header.scrolled .hotel {
  color: black;
}
header.scrolled nav ul li a {
  color: black;
}
header.scrolled nav ul li a:hover {
  color: rgb(138, 137, 135);
}
header.scrolled .menu-top-right a {
  color: black;
}
header.scrolled .menu-top-right a .fa-phone {
  background-color: rgba(0, 0, 0, 0.339);
}

@media screen and (max-width: 767px) {
  header .container {
    flex-direction: column;
  }
  header .container .header {
    align-items: flex-start;
    width: 100%;
  }
  header .container .header .hotel {
    margin-bottom: 20px;
  }
  header .container .header nav ul {
    flex-direction: column;
    gap: 5px;
  }
  header .container .header nav ul li {
    display: none;
  }
  header .container .header nav ul li a {
    padding: 8px;
  }
  header .container .header .menu-top-right {
    margin-top: 10px;
  }
  header .container .header .menu-top-right a #phone-text {
    display: none;
  }
  header .container .header .menu-top-right a .fa-phone {
    display: none;
  }
  header .container .header .menu-top-right a .fa-bars {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header .container {
    flex-direction: column;
  }
  header .container .header {
    align-items: flex-start;
    width: 100%;
  }
  header .container .header .hotel {
    margin-bottom: 20px;
  }
  header .container .header nav ul {
    flex-direction: column;
    gap: 5px;
  }
  header .container .header nav ul li {
    display: none;
  }
  header .container .header nav ul li a {
    padding: 8px;
  }
  header .container .header .menu-top-right {
    margin-top: 10px;
  }
  header .container .header .menu-top-right a #phone-text {
    display: none;
  }
  header .container .header .menu-top-right a .fa-phone {
    display: none;
  }
  header .container .header .menu-top-right a .fa-bars {
    display: block;
  }
}
footer {
  background-color: rgb(248, 249, 250);
  padding: 100px 0;
}
footer .col-6 .tool h3 {
  color: black;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 10px;
}
footer .col-6 .tool ul {
  width: 150px;
  padding: 8px 0;
}
footer .col-6 .tool ul li {
  margin: 0 0 16px;
}
footer .col-6 .tool ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  margin: 0 0 8px;
  padding: 10px 0;
}
footer .col-6 .tool .footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 16px;
}
footer .col-6 .tool .footer-icon li {
  padding: 10px 0;
}
footer .col-6 .tool .footer-icon li a {
  text-align: center;
  background-color: #00917c;
  border-radius: 50%;
}
footer .col-6 .tool .footer-icon li a i {
  color: black;
  text-align: center;
  height: 20px;
  width: 35px;
}
footer .col-6 .tool .footer-icon li a:hover {
  background-color: rgb(19, 196, 19);
}

#hero-banner {
  height: 100vh;
  min-height: 780px;
  background-image: url("/assets/images/img_1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100px;
}
#hero-banner .hero-text {
  text-align: center;
}
#hero-banner .hero-text h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 50px;
  color: white;
  margin: 0 0 48px;
  font-weight: 700;
}
#hero-banner .hero-text .btn-primary {
  color: white;
  background-color: #00917c;
  border: 1px solid transparent;
}
#hero-banner .hero-text .btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}

.video-section.show {
  display: block !important;
  z-index: 999;
}

#custom-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}
#custom-modal #custom-add-service-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  width: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
#custom-modal #custom-add-service-form input,
#custom-modal #custom-add-service-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#custom-modal #custom-add-service-form #confirm-add-service-btn {
  width: 45%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#custom-modal #custom-add-service-form #confirm-add-service-btn:hover {
  background-color: #0056b3;
}
#custom-modal #custom-add-service-form #cancel-service-btn {
  width: 45%;
  padding: 10px;
  background-color: #ff1e00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#custom-modal #custom-add-service-form #cancel-service-btn:hover {
  background-color: #c40202;
}
@media screen and (max-width: 600px) {
  #custom-modal #custom-add-service-form {
    max-width: 300px;
  }
}

.video-section {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}
.video-section span {
  position: absolute;
  right: 20px;
  top: 90px;
  font-size: 40px;
  z-index: 99999;
  cursor: pointer;
  color: white;
}
.video-section iframe {
  height: auto;
  position: absolute;
  top: 50%;
  height: 60%;
  width: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

#custom-read-more-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  text-align: center;
}
#custom-read-more-modal .modal-content {
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  top: 50%;
  width: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
#custom-read-more-modal .modal-content #cancel-modal-btn {
  width: 100%;
  padding: 10px;
  background-color: #ff1e00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}
#custom-read-more-modal .modal-content #cancel-modal-btn:hover {
  background-color: #c40202;
}

.find-now {
  background-color: rgb(248, 249, 250);
}
.find-now .row .form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
}
.find-now .row .btn-lg {
  width: 50%;
  padding: 10px 20px;
  background-color: #00917c;
  color: white;
  border-style: none;
}
.find-now .row .col-lg-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.find-now .row .button {
  width: 40%;
  padding: 10px 20px;
  background-color: #00917c;
  color: white;
  border-style: none;
}

.slide-container {
  background-color: rgb(248, 249, 250);
}
.slide-container .services-text {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  color: #00917c;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 100px;
  display: flex;
}
.slide-container .services-text #add-service-btn {
  margin-left: 60px;
  background-color: #00917c;
  color: white;
}
.slide-container .services-text #sort-select {
  margin-left: 60px;
  border-radius: 30px;
  background-color: #00917c;
  color: white;
  border: 1px solid black;
}
.slide-container .sliders {
  max-width: 1200px;
  width: 100%;
}
.slide-container .sliders .carousel {
  margin-left: 100px;
  padding: 50px 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  gap: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.slide-container .sliders .carousel .card {
  height: 340px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
  border-style: none;
  cursor: pointer;
}
.slide-container .sliders .carousel .card .img img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide-container .sliders .carousel .card span {
  color: gray;
  padding-bottom: 10px;
  font-weight: bold;
}
.slide-container .sliders .carousel .card span:hover {
  color: black;
}
.slide-container .sliders .carousel .card .slide-h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  color: black;
  padding: 10px 0;
  margin-left: 20px;
}
.slide-container .sliders .carousel .card p {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 15px 0;
  margin-left: 20px;
  font-size: 14px;
  font-family: "Roboto", "sans-serif";
}

@media screen and (max-width: 900px) {
  .sliders .carousel {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 600px) {
  .sliders .carousel {
    grid-auto-columns: 100%;
  }
}
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 7px 20px !important;
  background-color: transparent;
  border-color: transparent;
  color: #000;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.about-sect {
  padding: 200px 0;
}
.about-sect .row {
  display: flex;
  justify-content: space-between;
}
.about-sect .row .col-lg-6 {
  position: relative;
}
.about-sect .row .col-lg-6 .right-green-sect {
  top: -100px;
  bottom: -100px;
  background-color: #00917c;
  content: "";
  position: absolute;
  width: 200%;
  z-index: -1;
  left: -150%;
}
.about-sect .row .col-lg-6 .image-container img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.about-sect .row .col-lg-4 {
  padding: 0 24px;
  margin: 48px 0 0;
  align-self: center;
}
.about-sect .row .col-lg-4 .about-h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #00917c;
  margin: 0 0 24px;
}
.about-sect .row .col-lg-4 .about-p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.carousell {
  margin-left: 100px;
  padding: 50px 0;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  grid-auto-columns: calc(33.3333333333% - 20px);
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.carousell .card {
  border-radius: 0%;
}
.carousell .card .card-body {
  position: relative;
}
.carousell .card .card-body p {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  padding: 10px 0;
}
.carousell .card .card-body .slide-a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #888;
}
.carousell .card .card-body i {
  position: absolute;
  top: -20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #00917c;
  color: white;
  text-align: center;
  border-radius: 50%;
}

.prev-next .row .slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  gap: 5px;
}

.faq-sect {
  background-color: #00917c;
  margin-top: -20rem;
  padding-top: 20rem;
}
.faq-sect .row .col-lg-3 {
  padding: 80px 0;
}
.faq-sect .row .col-lg-3 .faq-h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  color: #000;
}
.faq-sect .row .faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.faq-sect .row .faq .question {
  display: flex;
  justify-content: space-between;
}
.faq-sect .row .faq .question h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  padding: 5px 5px;
}
.faq-sect .row .faq .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease;
  border: none !important;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.faq-sect .row .faq .answer p {
  font-size: 14px;
  font-family: "Roboto", "sans-serif";
  margin: 0 0 16px;
}
.faq-sect .row .faq.active .answer {
  max-height: 300px;
}
.faq-sect .row .faq.active svg {
  transform: rotate(180deg);
}
.faq-sect .row svg {
  transition: transform 0.5s ease;
}

.testimonial-sect {
  background-color: rgb(248, 249, 250);
  padding: 40px 0;
  position: relative;
}
.testimonial-sect .row {
  padding: 30px 0;
}
.testimonial-sect .row .col-lg-3 h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #00917c;
  margin: 0 0 8px;
}
.testimonial-sect .row .col-lg-7 p {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 16px;
  font-weight: 400;
  line-height: 1.2;
}
.testimonial-sect .cards {
  padding: 50px 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  gap: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.testimonial-sect .cards .card {
  height: 300px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  cursor: pointer;
  border: none;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}
.testimonial-sect .cards .card .text-content {
  margin: 0 0 1rem;
}
.testimonial-sect .cards .card .text-content #home-p {
  font-weight: bold;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.555);
  margin-left: 20px;
  line-height: 1.1;
}
.testimonial-sect .cards .card span {
  position: absolute;
  top: -20px;
  left: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #00917c;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
.testimonial-sect .cards .card .author {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.testimonial-sect .cards .card .author .img-container {
  flex: 0 0 50px;
  margin-right: 15px;
  margin-top: 10px;
}
.testimonial-sect .cards .card .author .img-container img {
  max-width: 100%;
  border-radius: 50%;
}
.testimonial-sect .cards .card .text h3 {
  color: #000;
  font-weight: bold;
}
.testimonial-sect .cards .card .text p {
  color: #888;
}
.testimonial-sect .prev-next .slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 5px;
}

.instagram-sect {
  height: 30vh;
}
.instagram-sect .row .col-lg-3 h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #00917c;
  margin: 0 0 8px;
  padding: 100px 0;
}
.instagram-sect .row .col-lg-7 p {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 16px;
  padding: 100px 0;
  font-weight: 400;
  line-height: 1.2;
}

#service-hero-banner {
  height: 100vh;
  min-height: 780px;
  background-image: url("/assets/images/img_3new.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100px;
}
#service-hero-banner h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 50px;
  color: white;
  margin: 0 0 8px;
  font-weight: 700;
  text-align: center;
}
#service-hero-banner p {
  font-size: 14px;
  font-family: "Roboto", "sans-serif";
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

#about-hero-banner {
  height: 100vh;
  min-height: 780px;
  background-image: url("/assets/images/img_3new.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100px;
}
#about-hero-banner h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 50px;
  color: white;
  margin: 0 0 8px;
  font-weight: 700;
  text-align: center;
}
#about-hero-banner p {
  font-size: 14px;
  font-family: "Roboto", "sans-serif";
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.about-author .img-container img {
  max-width: 100%;
  border-radius: 50%;
  width: 50%;
  margin: 0 0 20px;
}
.about-author #about-h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  padding: 10px 0;
}

.text-content {
  display: flex;
  flex-direction: column;
}
.text-content #about-p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 30px;
  padding: 10px 0;
  font-family: "Roboto", "sans-serif";
}
.text-content .about-a {
  text-decoration: none;
  color: gray;
  margin-left: 30px;
  padding: 10px 0;
  margin-top: auto;
}
.text-content .about-a:hover {
  color: black;
}

#contact-hero-banner {
  height: 100vh;
  min-height: 780px;
  background-image: url("/assets/images/img_4new.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100px;
}
#contact-hero-banner h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 50px;
  color: white;
  margin: 0 0 8px;
  font-weight: 700;
  text-align: center;
}
#contact-hero-banner p {
  font-size: 14px;
  font-family: "Roboto", "sans-serif";
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.get-in-touch .col-lg-3 {
  padding: 80px 0;
}
.get-in-touch .col-lg-3 .contact-h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #00917c;
  margin: 0 0 8px;
}
.get-in-touch .col-lg-7 {
  padding: 80px 0;
}
.get-in-touch .col-lg-7 .contact-p {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 16px;
  font-weight: 400;
  line-height: 1.2;
}
.get-in-touch form .row .col-6 .bottom-sect-h3 {
  font-weight: 700;
  color: #52565e;
  font-size: 1rem;
}
.get-in-touch form .row .col-6 .bottom-sect-p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0;
}
.get-in-touch form .row .col-6 .contact-icon {
  display: flex;
  gap: 5px;
  padding: 10px 0;
}
.get-in-touch form .row .col-6 .contact-icon li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  background: #00917c;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
}
.get-in-touch form .row .col-6 .contact-icon li a i {
  position: absolute;
  top: 30%;
  left: 30%;
}
.get-in-touch form .row .col-6 .contact-a {
  color: #00917c;
  text-decoration: none;
}
.get-in-touch form .btn {
  background-color: #00917c;
  color: #fff;
}