#hero-banner {
    height: 100vh;
    min-height: 780px;
    background-image: url('/assets/images/img_1.jpg');
    background-position: center;
    background-size: cover;
    @include flex();
    opacity: 100px;

    .hero-text {
        text-align: center;

        h2 {
            font-family: $work-sans;
            font-size: 50px;
            color: $color-white;
            margin: 0 0 48px;
            font-weight: 700;
        }
        .btn-primary {
            color: $color-white;
            background-color: $color-green;
            border: 1px solid transparent;
        }

        .btn {
            display: inline-block;
            padding: 15px 30px;
            border-radius: 30px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            cursor: pointer;
            
        }
        .btn:hover{
        }
    }
   
}
.video-section.show{
    display: block !important;
    z-index: 999;
}
.video-section{
    display: none;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    span{
        position: absolute;
        right: 20px;
        top:90px;
        font-size: 40px;
        z-index: 99999;
        cursor: pointer;
        color: white;
    }
    iframe{
        height: auto;
        position: absolute;
        top:50%;
        height: 60%;
        width: 60%;
        left:50%;
        transform: translate(-50%,-50%);
        object-fit: cover;
    }
}
// .video-section{
//     position: absolute;
//     left: 0;
//     display: none !important;
//     top: 0;
//     width: 100%;
//     height: 100vh;
//     @include flex();
//     margin: 0;
//     min-height: 100vh;
//     .modal-container{
//         background-color: rgba(0,0,0,0.3);
//         position: fixed;
//         pointer-events: none;
//         top:0;
//         left:0;
//         opacity: 0;
//         height: 100vh;
//         width: 100vw;
//         display: none;
//         .my-modal{
//             width: 600px;
//             z-index: 99999;
//             max-width: 100%;
//             text-align: center;
//             position: relative;
//             display: block;
//             video{
//                 width: 100%;
//                 z-index: 999999;
//             }
//         }
//     }
//     .modal-container.show{
//         pointer-events: auto;
//         display: block !important; 
//         z-index: 9999;
//     }
// }

//-----------------------------HERO-BANNER END--------------------------------------------------------------------------

//-----------------------------FIND-NOW START-------------------------------------------------------------------------------
.find-now {
    background-color: $primary-gray;

    .row {

        .form {
            @include flex();
            gap: 20px;
            padding: 30px 0;
        }

        .btn-lg {
            width: 40%;
            padding: 10px 20px;
            background-color: $color-green;
            color: $color-white;
            border-style: none;
        }

        .col-lg-6 {
            @include flex();
            gap: 5px;

        }

        .button {
            width: 40%;
            padding: 10px 20px;
            background-color: $color-green;
            color: $color-white;
            border-style: none;

        }

    }
}

//-----------------------------FIND NOW SECTION END-------------------------------------------------------------------

//-------------------------------OUR SERVICES SECTION START----------------------------------------------------------------

.slide-container{
    background-color: $primary-gray;    
    .services-text{
        font-family:$work-sans;
        font-weight: bold;
        color: $color-green;
        font-size: 24px;
        text-transform: uppercase;
        margin-left: 100px;
    }
    .sliders{
        max-width: 1200px;
        width: 100%;
        .carousel{
            margin-left: 100px;
            padding: 50px 0;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: calc((100% / 3) - 12px);
            gap: 16px;
            overflow: hidden;
            scroll-behavior: smooth;
            scrollbar-width: 0;
            
        
        .card{
            height: 340px;
            list-style: none;
            @include flex();
            flex-direction: column;
            padding-bottom: 15px;
            border-style:none ;
            cursor: pointer;
            
            .img{
                
                img{
                    width:60px;
                    height: 60px;
                    object-fit: cover;
                }
            }
            a{
                text-decoration: none;
                color: gray;
                padding-bottom: 10px;
                font-weight: bold;
            }
            a:hover{
                color: black;
                
            }
            .slide-h2{
                font-size: 20px;
                font-weight: bold;
                font-family:$work-sans;
                color: $bg-dark;
                padding: 10px 0;
                margin-left: 20px;
            }
            p{
                color: rgba(0, 0, 0, 0.5);
                margin-top: 0;
                margin-bottom: 1rem;
                padding: 15px 0;
                margin-left: 20px;
                font-size: 14px;
                font-family: $robote;
            }
        }
    }
    
    }
}

@media screen and (max-width: 900px) {
    .sliders{
        .carousel{
            grid-auto-columns: calc((100% / 2) - 9px);
        }
    }
 
}

@media screen and (max-width: 600px) {
    .sliders{
        .carousel{
            grid-auto-columns: 100%;
        }
    }
}




//-------------------------------OUR SERVICES SECTION END------------------------------------------------------------------------


//-------------------------------PREV-NEXT SECTION-----------------------------------------------------------------------
.btn{
    display: inline-block;
    cursor: pointer;
    padding: 7px 20px !important;
    background-color: transparent;
    border-color: transparent;
    color: #000;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
//--------------------------------ABOUT-SECTION START-----------------------------------------------------------
.about-sect {
    padding: 200px 0;

    .row {
        display: flex;
        justify-content: space-between;

        .col-lg-6 {
            position: relative;

            .right-green-sect {
                top: -100px;
                bottom: -100px;
                background-color: #00917c;
                content: "";
                position: absolute;
                width: 200%;
                z-index: -1;
                left: -150%;
            }

            .image-container {
                img {
                    border-radius: 5px;
                    max-width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }
        }

        .col-lg-4 {
            padding: 0 24px;
            margin: 48px 0 0;
            align-self: center;

            .about-h2 {
                font-family: $work-sans;
                font-size: 24px;
                font-weight: bold;
                color: $color-green;
                margin: 0 0 24px;

            }

            .about-p {
                margin-top: 0;
                margin-bottom: 1rem;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

//-------------------------ABOUT-SECT END-------------------------------------------------------------------

//-------------------------BLOG SECTION START------------------------------------------------------------------------

.carousell{
    margin-left: 100px;
    padding: 50px 0;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    grid-auto-columns: calc((100% /3) - 20px);
    overflow: hidden;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    .card{
      border-radius: 0%;
        .card-body{
               position: relative;
                p{
                    text-decoration: none; 
                    color: black;
                    font-weight: bold;
                    font-family:$work-sans;
                    font-size: 16px;
                    padding: 10px 0;
                }
            .slide-a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: .1rem;
                    color: #888;
            }
            i{
                position: absolute;
                top: -20px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                background-color: $color-green;
                color: white;
                text-align: center;
                border-radius: 50%;
            }

        }

    }
}
.prev-next{
    .row{
        .slider-nav{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 60px 0;
            gap: 5px;
        }
    }
}
//--------------------------BLOG SECT END-------------------------------------------------------------------------------------------

//-------------------------FAQ'S SECTION START------------------------------------------------------------------------------------------
    .faq-sect{
        background-color: #00917c;
        margin-top: -20rem;
        padding-top: 20rem;
        .row{
            .col-lg-3{
                padding: 80px 0;
                .faq-h2{
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: bold;
                    font-family: $work-sans;
                    color: #000;
                }            
            }
            .faq{
                max-width: 700px;
                margin-top: 2rem;
                padding-bottom: 1rem;
                font-weight: normal;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                cursor: pointer;
                .question{
                    display: flex;
                    justify-content: space-between;
                    h3{
                        font-family: $work-sans;
                        font-size: 16px;
                        padding: 5px 5px;
                    }
                }
                .answer{
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height .1s ease ;
                    border: none !important;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                    p{
                        font-size: 14px;
                        font-family:$robote;
                        margin: 0 0 16px;
                    }
                }
            }
            .faq.active .answer{
                max-height:300px;
                
            }
            .faq.active svg{
                transform: rotate(180deg);
            }
            svg{
                transition: transform .5s ease;
            }

        }
    }
//--------------------------FAQ'S SECTION END-------------------------------------------------------------------------------------------------

//--------------------------TESTIMONIALS SECTION START------------------------------------------------------------------------------------------
 .testimonial-sect{
    background-color: $primary-gray;
    padding: 40px 0;
    position: relative;
    .row{
        padding: 30px 0;
        .col-lg-3{
           
            h2{
                font-family: $work-sans;
                font-size: 24px;
                font-weight: bold;
                color: $color-green;
                margin: 0 0 8px;
            }
        }
        .col-lg-7{
            p{
                font-family: $robote;
                font-size: 14px; 
                color: rgba(0, 0, 0, 0.5);
                margin: 0 0 16px;
                font-weight: 400;
                line-height: 1.2;

            }
        }
    }
    .cards{
        padding: 50px 0;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 3) - 12px);
        gap: 16px;
        overflow: hidden;
        scroll-behavior: smooth;
        scrollbar-width: 0;
        .card{
            height: 300px;
            list-style: none;
            @include flex();
            padding-bottom: 15px;
            cursor: pointer;
            border: none;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
            .text-content{
                margin: 0 0 1rem;
                #home-p{
                    font-weight: bold;
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.555);
                    margin-left: 20px;
                    line-height: 1.1;
                }
                }
                span{
                    position: absolute;
                    top: -20px;
                    left: 20px;
                    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    background-color: #00917c;
                    color: #fff;
                    text-align: center;
                    border-radius: 50%;
            }
            .author{
                display: flex;
                align-items: center;
                margin-left:20px ;
                
                .img-container{
                     flex: 0 0 50px;
                     margin-right: 15px;
                     margin-top: 10px;
                    img{
                        max-width: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .text{
                h3{
                color: #000;
                font-weight: bold;
                }
                p{
                    color: #888;
                }
            }
        }
    }
    .prev-next{
        .slider-nav{
            @include flex();
            padding: 20px 0;
            gap: 5px;
        }
    }
 
}
//---------------------------TESTIMONIALS SECTION END-----------------------------------------------------------------------------------------------

//---------------------------INSTAGRAM SECTION START----------------------------------------------------------------------------------------------------
.instagram-sect{
    height: 30vh;
    .row{
        .col-lg-3{
            h2{
                font-family: $work-sans;
                font-size: 24px;
                font-weight: bold;
                color: $color-green;
                margin: 0 0 8px;
                padding: 100px 0;
            }
        }
        .col-lg-7{
            p{
                font-family: $robote;
                font-size: 14px; 
                color: rgba(0, 0, 0, 0.5);
                margin: 0 0 16px;
                padding: 100px 0;
                font-weight: 400;
                line-height: 1.2;

            }
        }
    }
}
//---------------------------INSTAGRAM SECTION END-------------------------------------------------------------------------------------------------------
