#service-hero-banner{
    height: 100vh;
    min-height: 780px;
    background-image: url('/assets/images/img_3new.jpg');
    background-position: center;
    background-size: cover;
    @include flex();
    opacity: 100px;
    h2{
        font-family: $work-sans;
        font-size: 50px;
        color: $color-white;
        margin: 0 0 8px;
        font-weight: 700;
        text-align: center;
    }
    p{
        font-size: 14px;
        font-family: $robote;
        color:rgba(255, 255, 255, 0.5) ;
        text-align: center;
        
    }
}